:root {
  --blue-violet-20: #fff;
  --blue-violet-50: #eff2fe;
  --blue-violet-100: #e1e8fe;
  --blue-violet-200: #cad5fb;
  --blue-violet-300: #a9b8f8;
  --blue-violet-400: #8793f2;
  --blue-violet-500: #6a6eea;
  --blue-violet-600: #5650de;
  --blue-violet-700: #473fc3;
  --blue-violet-800: #3a359e;
  --blue-violet-900: #34327d;
  --blue-violet-950: #1f1d49;
}

.cart-section {
  width: 100%;
  height: 100%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cart-section .empty-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--blue-violet-100);
  border-radius: 2rem;
}
.empty-cart h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #101010;
}
.empty-cart a {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--blue-violet-700);
  color: var(--blue-violet-20);
  border-radius: 1rem;
}

.cart-section .cart-card {
  width: 100%;
  background-color: var(--blue-violet-20);
  border: 1px solid var(--blue-violet-100);
  border-radius: 2rem;
  padding: 2rem;
}
.cart-card .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.content .cart-image {
  width: 25%;
  height: 30rem;
}
.cart-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content .cart-content {
  width: 75%;
  /* height: 30rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-content .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details .title {
  width: 100%;
}
.title h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #101010;
}

.details .rating {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.rating strong {
  font-size: 1.8rem;
  color: #101010;
  margin-right: 0.5rem;
}
.rating svg {
  font-size: 1.4rem;
  color: gold;
}

.details .amount {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.amount .price {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  font-size: 2rem;
  font-weight: 500;
}

.price .discount {
  font-size: 1.8rem;
  font-weight: 400;
  color: crimson;
  margin-right: 0.5rem;
}

.mrp {
  text-decoration: none;
  color: #999;
}
.amount .mrp span {
  font-size: 1.8rem;
  font-weight: 300;
  margin-right: 0.5rem;
}
.amount .mrp span:nth-child(3) {
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: line-through;
  color: #999;
}

.details .brand-model {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.brand-model h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.cart-section .clear-cart-btn {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
}
.clear-cart-btn button {
  width: 15rem;
  height: 4.5rem;
  background-color: var(--blue-violet-700);
  color: var(--blue-violet-20);
  border: 0;
  border-radius: 1rem;
  font-size: 1.6rem;
}

/*? Responsive Design */

@media screen and (max-width: 1024px) {
  .cart-section {
    padding: 10rem 3rem;
  }
  .title h1 {
    font-size: 1.6rem;
  }
  .content .cart-image {
    width: 40%;
  }
  .content .cart-content {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .cart-section {
    padding: 10rem 2rem;
  }
  .content {
    flex-direction: column;
  }
  .content .cart-image {
    width: 100%;
  }
  .content .cart-content {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .title h1 {
    font-size: 1.4rem;
  }
  .product-content .btns {
    justify-content: space-between;
  }
}

@media screen and (max-width: 320px) {
  .cart-section .cart-content .btns button {
    width: 11rem;
    font-size: 1.2rem;
  }
  .amount .mrp span {
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: line-through;
    color: #aaa;
  }
  .amount .price {
    font-size: 1.4rem;
    font-weight: 500;
    color: #101010;
  }
  .price .discount {
    font-size: 1.4rem;
  }
}
