:root {
  --blue-violet-20: #fff;
  --blue-violet-50: #eff2fe;
  --blue-violet-100: #e1e8fe;
  --blue-violet-200: #cad5fb;
  --blue-violet-300: #a9b8f8;
  --blue-violet-400: #8793f2;
  --blue-violet-500: #6a6eea;
  --blue-violet-600: #5650de;
  --blue-violet-700: #473fc3;
  --blue-violet-800: #3a359e;
  --blue-violet-900: #34327d;
  --blue-violet-950: #1f1d49;
}

.products-section {
  width: 100%;
  height: 100%;
  padding: 10rem;
}

.products-section .category-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  overflow-x: auto;
}

.category-container .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}
.category .image {
  width: 15rem;
  height: 10rem;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products-container {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.products-container .product-card {
  width: 100%;
  background-color: var(--blue-violet-20);
  border: 1px solid var(--blue-violet-100);
  border-radius: 2rem;
  padding: 2rem;
}
.product-card .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.content .product-image {
  width: 25%;
  height: 30rem;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content .product-content {
  width: 75%;
  /* height: 30rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-content .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details .title {
  width: 100%;
}
.title h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #101010;
}

.details .rating {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.rating strong {
  font-size: 1.8rem;
  color: #101010;
  margin-right: 0.5rem;
}
.rating svg {
  font-size: 1.4rem;
  color: gold;
}

.details .amount {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.amount .price {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  font-size: 2rem;
  font-weight: 500;
}

.price .discount {
  font-size: 1.8rem;
  font-weight: 400;
  color: crimson;
  margin-right: 0.5rem;
}

.mrp {
  text-decoration: none;
  color: #999;
}
.amount .mrp span {
  font-size: 1.8rem;
  font-weight: 300;
  margin-right: 0.5rem;
}
.amount .mrp span:nth-child(3) {
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: line-through;
  color: #999;
}

.details .brand-model {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.brand-model h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.product-content .btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btns button {
  width: 15rem;
  height: 4.5rem;
  background-color: var(--blue-violet-700);
  border: 0;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: var(--blue-violet-20);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btns button a {
  color: var(--blue-violet-20);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.btns button a svg {
  font-size: 2rem;
}
.btns button:hover {
  background-color: var(--blue-violet-600);
}

/*? Product Detail Section */

.product-detail-section {
  width: 100%;
  height: 100%;
  padding: 10rem 10rem;
}

.product-detail-section .product-detail-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.product-detail-container .image-container,
.product-detail-container .detail-container {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
.image-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.image-container .main-image {
  width: 100%;
  padding: 3rem;
  border: 1px solid var(--blue-violet-100);
  border-radius: 1.5rem;
  overflow: hidden;
}
.main-image img {
  width: 100%;
}

.image-container .more-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.more-images .more-image {
  padding: 1.2rem;
  border: 1px solid var(--blue-violet-100);
  border-radius: 1.5rem;
  overflow: hidden;
}
.more-image img {
  width: 100%;
}

.detail-container header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid var(--blue-violet-100);
}

.detail-container header .detail-title h1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}

.detail-container header .detail-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #101010;
}
.detail-rating svg {
  font-size: 1.5rem;
  color: gold;
}
.detail-rating span {
  font-size: 1.6rem;
  margin-left: 0.8rem;  
  color: #101010;
}

.detail-container .choice h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #101010;
}

.detail-container .detail-price {
  padding: 2rem 0;
  border-bottom: 1px solid var(--blue-violet-100);
}
.detail-price .discount {
  font-size: 2.2rem;
  color: crimson;
  margin-right: 0.5rem;
}
.detail-price .price {
  font-size: 2rem;
  color: #101010;
}

.detail-price p {
  font-size: 1.2rem;
  color: #565959;
  margin-top: 0.5rem;
}
.detail-price p .detail-mrp {
  text-decoration: line-through;
}

.detail-container .detail-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid var(--blue-violet-100);
}
.detail-btns button {
  width: 15rem;
  height: 4.5rem;
  border: 0;
  border-radius: 1rem;
  background-color: var(--blue-violet-700);
  color: var(--blue-violet-20);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.detail-btns button a {
  color: var(--blue-violet-20);
}
.detail-btns button:hover {
  background-color: var(--blue-violet-600);
}

.detail-container .features{
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid var(--blue-violet-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  overflow-x: auto;
}
.features .feature {
  /* width: 10rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.feature .icon svg {
  font-size: 3rem;
  color: var(--blue-violet-600);
}
.feature h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

.detail-container .info {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid var(--blue-violet-100);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info span {
  font-size: 1.6rem;
}

.detail-container .about-product {
  width: 100%;
  padding: 2rem 0;
}
.about-product h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #101010;
  margin-bottom: 1rem;
}
.detail-container .about-product ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-product ul li {
  font-size: 1.6rem;
  color: #101010;
  list-style: disc;
}












/*? Responsive Design */

@media screen and (max-width: 1024px) {
  .products-section {
    padding: 10rem 3rem;
  }
  .title h1 {
    font-size: 1.6rem;
  }
  .content .product-image {
    width: 40%;
  }
  .content .product-content {
    width: 60%;
  }

  .product-detail-section {
    padding: 10rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .products-section {
    padding: 10rem 2rem;
  }
  .content {
    flex-direction: column;
  }
  .content .product-image {
    width: 100%;
  }
  .content .product-content {
    width: 100%;
  }

  .product-detail-section .product-detail-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 426px) {
  .title h1 {
    font-size: 1.4rem;
  }
  .product-content .btns {
    justify-content: space-between;
  }
}

@media screen and (max-width: 320px) {
  .products-container .product-content .btns button {
    width: 11rem;
    font-size: 1.2rem;
  }
  .amount .mrp span {
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: line-through;
    color: #aaa;
  }
  .amount .price {
    font-size: 1.4rem;
    font-weight: 500;
    color: #101010;
  }
  .price .discount {
    font-size: 1.4rem;
  }
}
